# Add any directories, files, or patterns you don't want to be tracked by version control
# OS X
.DS_Store*
Icon?
._*
.vscode

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

config

# Benchmarking
benchmarks/graphs

docker-compose.yml

Dockerfile

.env

dist

yarn.lock

.editorconfig

.queues

docker-compose.yml

#secrets
oauth-public.key
oauth-private.key
src/core/middlewares/oauth-private.key
src/core/middlewares/oauth-public.key
src/core/utils/oauth-private.key
src/core/utils/oauth-public.key
src/core/prisma/
src/core/prisma